.helloSection {
  min-height: 100vh;
  background-attachment: fixed;
  background-image: linear-gradient(
      rgba(153, 153, 153, 0.3),
      rgba(0, 0, 0, 0.1)
    ),
    url("../img/IMG_0219.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0px 0px 27px 0px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: inset 0px 0px 27px 0px rgba(0, 0, 0, 0.58);
  box-shadow: inset 0px 0px 27px 0px rgba(0, 0, 0, 0.58);
}

.headH1 {
  font-family: "Noto Sans TC", sans-serif;
  margin-bottom: 15%;
  font-size: 5rem;
  color: white;
  text-shadow: 2px 2px 5px #000000;
  line-height: 1.8;

}

.helloH1 {
  background-color: white;
  margin: auto;
  padding: 1rem;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 46px;
}

.gameText {
  background-color: rgba(255, 255, 255,0.8);
  position: absolute;
  bottom: 4rem;
  width: 60vw;
}

.imgDesc {
  color: #796750;
  font-size: 16px;
}

.scroll-snap-align {
  scroll-snap-align: start;
}

.section2 {
  min-height: 100vh;
  background-attachment: fixed;
  background-image: linear-gradient(
      rgba(153, 153, 153, 0.3),
      rgba(0, 0, 0, 0.1)
    ),
    url("../img/IMG_6148.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0px 0px 27px 0px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: inset 0px 0px 27px 0px rgba(0, 0, 0, 0.58);
  box-shadow: inset 0px 0px 27px 0px rgba(0, 0, 0, 0.58);
}

.section3 {
  min-height: 100vh;
  background-attachment: fixed;
  background-image: linear-gradient(
      rgba(153, 153, 153, 0.3),
      rgba(0, 0, 0, 0.1)
    ),
    url("../img/IMG_0001.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0px 0px 27px 0px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: inset 0px 0px 27px 0px rgba(0, 0, 0, 0.58);
  box-shadow: inset 0px 0px 27px 0px rgba(0, 0, 0, 0.58);
}

.section4 {
  min-height: 100vh;
  background-attachment: fixed;
  background-image: linear-gradient(
      rgba(153, 153, 153, 0.3),
      rgba(0, 0, 0, 0.1)
    ),
    url("../img/IMG_0297.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0px 0px 27px 0px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: inset 0px 0px 27px 0px rgba(0, 0, 0, 0.58);
  box-shadow: inset 0px 0px 27px 0px rgba(0, 0, 0, 0.58);
}

.section5 {
  min-height: 100vh;
  background-attachment: fixed;
  background-image: linear-gradient(
      rgba(153, 153, 153, 0.3),
      rgba(0, 0, 0, 0.1)
    ),
    url("../img/IMG_0264.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0px 0px 27px 0px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: inset 0px 0px 27px 0px rgba(0, 0, 0, 0.58);
  box-shadow: inset 0px 0px 27px 0px rgba(0, 0, 0, 0.58);
}

.footer {
  background-color: rgb(51, 50, 48);
}

div[class~="footer"]  p {
  color: white;
}

div[class~="footer"]  h3 {
  color: white;
}


p,
button,
div {
  font-family: "Noto Sans TC", sans-serif !important;
}

p {
  font-size: 20px;
}

/* https://www.cssmatic.com/box-shadow */

img {
  -webkit-box-shadow: 6px 6px 10px -4px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 6px 6px 10px -4px rgba(0, 0, 0, 0.58);
  box-shadow: 6px 6px 10px -4px rgba(0, 0, 0, 0.58);
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

body {
  background-color: #e8c4a1a6 !important;
  color: #43341b !important;
  line-height: 1.8 !important;
}

.unityWarp {
  width: 100%;
  padding-top: 62.5%; 
}

#unityContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


/* boarder animation */
.gradient-border {
  --borderWidth: 12px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  -webkit-animation: animatedgradient 3s ease alternate infinite;
          animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@-webkit-keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



/* Text Selection Color */

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: rgba(98, 255, 93, 0.637);
}

::selection {
  color: black;
  background: rgba(98, 255, 93, 0.637);
}

/* d3 chart css */

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.tooltiptext {
  position: absolute;
  text-align: center;
  width: 120px;
  height: 45px;
  padding: 10px;
  font: 20px sans-serif;
  background: #ffffff;
  border: 3px;
  border-radius: 8px;
  border-style: solid /*dashed*/;
  border-color: rgb(9, 82, 219) /*#FFAC55*/;
  overflow: hidden;
}

.h4 {
  font-family: "cwTeXYen";
  font-size: 1.3em;
}

#Rectarea {
  height: 300px;
  width: 300px;
  border: 1px solid black;
}

.policy_button {
  background-color: #4caf50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.policy_area {
  background-color: rgb(61, 61, 61);
  position: absolute;
  text-align: center;
  width: 970px;
  height: 480px;
  padding: 10px;
  font: 20px sans-serif;
  opacity: 0;
  display: none;
}

.policy_text {
  position: absolute;
  text-align: center;
  width: 530px;
  height: 200px;
  margin: 10px 150px 10px 200px;
  font: 16px sans-serif;
  color: white;
  display: none;
}

.timeline {
  fill: green;
  opacity: 0;
}
